@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('../fonts/subset-GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro.woff2') format('woff2'),
		url('../fonts/subset-GothamPro.woff') format('woff'),
		url('../fonts/subset-GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}