block footer

	footer.site-footer
		.container
			.footer-top.cf
				p.copyright Copyright © Binaring.com
				p.made-by Designed and Developed by 
					a(href="https://belugalab.ru/" target="_blank") Beluga Labs
			.footer-bottom
				p.bottom-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				p.sert Регулируется ЦРОФР<br>Сертификат RU 0395 AA V0089

