block header
	header.site-header
		.container.cf
			.logo
				a(href="#")
					img(src="img/logo.png", alt="")
			.language
				p Выбрать язык
				ul.language__list
					li
						a.active(href="#") RU
					li
						a(href="#") EN
					li
						a(href="#") AR